<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
	<meta charset="utf-8">
	<title>Two</title>
</head>
<body>

Top level args: {{.}}<br>


{{template "two" .}}{{define "two"}}
	<h2>This Is Two</h2>
	Args: {{.}}<br>
{{end}}

{{template "twob" .}}{{define "twob"}}
	<h2>This Is Another Two</h2>
	Args: {{.}}<br>

<ul>
	{{range sql `select grp, id, name from foo order by grp, id` | group 1}}
		<li>{{.Group}}
			<ol>{{range .Inner}}<li>{{.}}</li>{{end}}</ol>
		</li>

	{{end}}
</ul>

{{end}}

</body>
</html>